.posts{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 40vw;
    margin: 20px;
    padding: 20px;
}
.posts__header{
    display: flex;
    padding: 5px;
}
.posts__title{
    padding: 5px;
}
.posts__bottom{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.posts__bottom>div{
    background-color: #fff;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.like{
    margin-right: 20px;
}
.comment{
    margin-left: 20px;
}